__pycache__/
*.py[cod]
*$py.class
*.so
!vendor/**/*.so
vendor/**/__pycache__/
vendor/**/*.dist-info/
.Python
env/
venv/
.venv/
*.egg-info/
.eggs/
dist/
build/
.env
*.db
*.sqlite3
.DS_Store
node_modules/
